---
layout: html5
---
#left-column
	= link_to '/',:ref=> 'home', :class => "no style" do
		#logo
	%nav{:role => "navigation_menu"}
		%ul
			%li
				%a{:href => "../bestiarum.html"} All
	
#right-column
	.evento
		.title
			%h1 
				#{actor.name}
			%p.beast 
				&#47; #{actor.beast}
		.box
			.white-box
				%p.quote 
					&#171; #{actor.quote1} &#187; 
			.white-box
				%p.quote
					&#171; #{actor.quote2} &#187;
			
						 
					
		
			
		.content
			%p.short-story
				Bruno is a iOS freelance developer from Naples, Italy. While many others migrated to Milan, he choose to establish his headquarter in Cuneo, a delightful little town in the inner Piemonte. When we first met Marco Bestonzo, CEO of Intoino, smartly grasping the very concept of Arcadia, Marco said: you guys have to meet Bruno. So we did and Arcadia took off! Since then Bruno has been visiting us at least once per month, settling his mac air in our office for a full day and tirelessly challenging our methodologies, thoughts, projects and, last but not least, supporting and enlarging Arcadia's network!
			<img src="images/buno.jpg"></>
			.distinctive
				.bottone-generico
					.container
						.corner-left
						.corner-right
						%h3
							Distinctive Features
					.left_hover
					.center_hover
					.right_hover

				
				%ul
					%li
						%span.category
							Kingdom:
						IOS developer
					%li
						%span.category
							Philum:
						CTO presso Qurami
					%li
						%span.category
							Class:
						buddy, developer in residence, challenger, gate-keeper
					%li
						%span.category
							Habitat:
						Coding forest
					%li
						%span.category
							Diet:
						Objective-C / JavaScript / PHP / Software Development / Project Coordination / Product Development / Object Oriented Design / Mobile HTML 5
					%li
						%span.category
							Lifestyle:
						Pyjama coding, worker-on-rails
					%li
						%span.category
							Most Distintive Feature:
						he blends in with designers with his unique mac air with a sticker on the back...
					%li
						%span.category
							Biggest Threat:
						Female Developer
					%li
						%span.category
							Fun Fact:
						He can handle any kind of hot pepper while talking!
				.white-box
					%p.quote
						&#171; Ho insegnato a mia mamma Face Time...Ho creato un mostro! &#187;
				.white-box
					%p.quote
						&#171; Ho insegnato a mia mamma Face Time...Ho creato un mostro! Quote placeholder prova Ho insegnato a mia mamma Face Time...Ho creato un mostro! Ho insegnato a mia mamma Face Time...Ho creato un mostro! Quote placeholder prova Ho insegnato a mia mamma Face Time...Ho creato un mostro! &#187;
				.white-box
					%p.quote
						&#171; Ho insegnato a mia mamma Face Time...Ho creato un mostro! Quote placeholder prova Ho insegnato a mia mamma Face Time...Ho creato un mostro! &#187;

			.links
				.bottone-generico
					.container
						.corner-left
						.corner-right
						%h3
							Links
					.left_hover
					.center_hover
					.right_hover
				%ul
					%li
						<a href="http://www.qurami.com/it/index.html">Qurami</a>
					%li
						<a href="http://appsterdam.rs/">Appsterdam</a>
					%li
						<a href="http://www.thinkfor.it/">Thinkfor.it/</a>
					%li
						<a href="http://www.linkedin.com/in/brunobellissimo">Linkedin.com/in/brunobellissimo</a>
			
			
				