#left-column
	= link_to '/',:ref=> 'home', :class => "no style" do
		#logo
	%nav{:role => "navigation_menu"}
		%ul
			%li
				%a{:href => "events.html"} All
			%li
				%a{:href => "/tracks/ixdtuesday.html"} IxDTuesday
			%li
				%a{:href => "/tracks/appsterdammilano.html"} Appsterdam Milano
			
#right-column
	.container-intestazione
		%h1.title
			Events
		%p.subtitle / beware of who you want to meet, you might like to start a company with her
	%p.excerpt
		Communities are made of people that love to meet. We think that bridging communities with the offer of a shared calendar, with possibly no overlaps, is a little step in the direction of empowering those people in making something bigger together.

	.clear
	.calendario
		- data.events.group_by {|a| a.month }.each do |month, events| 
			.bottone-generico{:href => "#vertabout"}
				.container
					.corner-left
					.corner-right
					%h3 #{month}
				.left_hover
				.center_hover
				.right_hover
			- events.each do |event|
				.content-calendar
					.white-box
						.foto
							%a.logo{:href => "/tracks/ixdtuesday.html"}
								%img{:src => "/images/logo_ixdt.png"}
						.container-info
							%a{:href => "/tracks/events/#{event.url-event}.html"}
								#{event.title} 
							%p.data-calendar
								#{event.date}
							%p.data-calendar
								at
								%span.where società anonima, Via Pietro Micca, 12, Torino
						.container-descrizione
							%p.intro-calendar
								Nel 2012 si è parlato molto di responsive design. Il 2013 sarà l’anno in cui si passerà davvero dalla teoria alla pratica.
							%p.intro-calendar
								Piermaria Cosina, CDO The Doers
		